@{
    ViewData["Title"] = "Home Page";
}

@model List<SharedModel.WeatherForecast>
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h1 class="display-4">Hava Tahmini</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureC)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)<br />
            </td>

        </tr>
    }


</div>

